<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background: #F9F8F9; font-size: 1.25rem; line-height: 1.25em;">
    <div style="background: #fff; max-width: 420px; margin: 1rem auto; padding: 1.5rem 2.5rem; border-radius: 1.25rem; border: 1px solid #E5E4E5;">
      <h1 style="font-size: 1.75rem; line-height: 1.25em;">Your Password has Been Reset</h1>
      <p>
        Your password has been reset. If you did not do this or were aware
        of it happening please contact your account owner.
      </p>
      <p>Thanks and have a great day!</p>
    </div>
  </body>
</html>
