<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background: #F9F8F9; font-size: 1.25rem; line-height: 1.25em;">
    <div style="background: #fff; max-width: 420px; margin: 1rem auto; padding: 1.5rem 2.5rem; border-radius: 1.25rem; border: 1px solid #E5E4E5;">
      <h1 style="font-size: 1.75rem; line-height: 1.25em;">You Have Requested to Reset Your Password</h1>
      <p>
        You have 15 minutes before the access link expires.
        If you did not request this email please disregard
        and delete it.
      </p>
      <p style="text-align:center;">
        <a href="<%= @url %>" style="display: block; padding: 1rem 1.5rem; background: #4F9689; color: #fff; border-radius: 0.25rem; font-size: 1.5rem; margin: 1rem auto; font-weight: bold; text-decoration: none;">Reset Your Password</a>
      </p>
      <p>
        If the link above does not work copy and paste the following URL into your
        browser:
      </p>
      <p style="font-size: 1rem; line-height: 1.25em;"><%= @url %></p>
      <p>Thanks and have a great day!</p>
    </div>
  </body>
</html>
