You Have Requested to Reset Your Password
====================================================

Click the link below to reset your password:
<%= @url %>

You have 15 minutes before the access link expires.
If you did not request this email please disregard
and delete it.

Thanks and have a great day!
