You have been invited to <%= @organization.name %>'s
Scheduling Calendar.
====================================================

Click the link below to create your account and gain
access to the production calendars for projects at
<%= @organization.name %>

To accept this invitation, just follow this link:
<%= @url %>

You have 24 hours to accept this invitation before the
access link expires.

Thanks for joining and have a great day!
