<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: San Francisco, Helvetic, Arial, sans-serif; background: #F9F8F9; font-size: 1.25rem; line-height: 1.25em;">
    <div style="background: #fff; max-width: 420px; margin: 1rem auto; padding: 1.5rem 2.5rem; border-radius: 1.25rem; border: 1px solid #E5E4E5;">
      <h1 style="font-size: 1.75rem; line-height: 1.25em;">You have been invited to a Scheduling Calendar for <%= @organization.name %></h1>
      <p>
        Click the link below to create your account and gain access to the production calendars for projects at 
        <strong><%= @organization.name %></strong><br>
      </p>
      <p>You have <%= distance_of_time_in_words(0.days.from_now, @days_until_expires.to_i.days.from_now) %> to accept this invitation before the access link expires.</p>
      <p style="text-align:center;">
        <a href="<%= @url %>" style="display: block; padding: 1rem 1.5rem; background: #4F9689; color: #fff; border-radius: 0.25rem; font-size: 1.5rem; margin: 1rem auto; font-weight: bold; text-decoration: none;">Join <%= @organization.name %></a>
      </p>
      <p>
        If the link above does not work copy and paste the following URL into your
        browser:
      </p>
      <pre style="font-size: 0.675rem; line-height: 1.25em; overflow: scroll;" width="300"><%= @url %></pre>
      <p>For ProCal support, please email <a href="mailto:support@revolutiones.com">support@revolutiones.com</a> or call 818-459-6564</p>
      <p>Thanks for joining and have a great day!<br>The Revolution Team</p>
    </div>
  </body>
</html>
